body {
    background-color: #ccc;
}

.selections {
    display: flex;
    justify-content: center;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 4rem;
    transition: 100ms;
}

.selection:hover {
    transform: scale(1.2);
}

.results {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.player {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.result-score {
    margin-left: 0.1rem;
    font-size: 1.5rem;
    color: #333;
    background-color: #fff;
    padding: 0.1rem 0.5rem;
    border-radius: 50%;
}

.result-selection {
    opacity: 0.7;
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}

.result-selection.winner {
    opacity: 1;
}